{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipes/styles/style.css'%}">
    <title>Ingredient Input</title>
</head>

<body>
    <h2>New Ingredient</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p}}
        <button class="search-btn" type="submit">Save Ingredient</button>
    </form>
</body>

</html>
{% endblock content %}